<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
      </configSections>
      <connectionStrings>
        <add name="Log4netServiceBusConnection" connectionString="Endpoint=sb://loggingbus-test.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=0qTGOv7kYhccUM5pp6AgVGVJt/FMxX1fSCaziErdF6Q=" />
        <add name="ReferenceMessagesStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=collectorifdev;AccountKey=P+6DCfTzp3tc0MlULJRt2Bl55j254fimBWZUdLqiXE6M5KP+GXjcWSniGjOtOO2/gs1kqVLuyNGkwL0yjaTbaQ==" />
        <add name="AzureServiceBus" connectionString="Endpoint=sb://collectorif-dev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=D623WJN0ytn8mUH8RcUOTY4SDFI1Kvq1AvLh8I9eDWk=" />

      </connectionStrings>
      <log4net>
        <appender name="AzureServiceBus-Logging-Appender" type="Collector.If.Azure.Logging.ServiceBusAppender.ServiceBusAppender,Collector.If.Azure.Logging.ServiceBusAppender">
          <ConnectionStringKey value="Log4netServiceBusConnection" />
          <MessagingEntity value="systemlogtopic" />
          <ApplicationName value="MyLog4net.ConsoleApplication" />
          <EventType value="SystemEvent" />
          <CorrelationIdPropertyName value="CorrelationId" />
          <Synchronous value="true" />
          <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="FATAL" />
          </filter>
        </appender>
        <appender name="AzureServiceBus-Audit-Appender" type="Collector.If.Azure.Logging.ServiceBusAppender.ServiceBusAppender,Collector.If.Azure.Logging.ServiceBusAppender">
          <ConnectionStringKey value="Log4netServiceBusConnection" />
          <MessagingEntity value="auditlogtopic" />
          <ApplicationName value="MyLog4net.ConsoleApplication" />
          <EventType value="AuditEvent" />
          <Synchronous value="true" />
          <CorrelationIdPropertyName value="CorrelationId" />
          <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="FATAL" />
          </filter>
        </appender>
        <logger name="Default_System" additivity="false">
          <level value="ALL" />
          <appender-ref ref="AzureServiceBus-Logging-Appender" />
        </logger>
        <logger name="Default_Audit" additivity="false">
          <level value="ALL" />
          <appender-ref ref="AzureServiceBus-Audit-Appender" />
        </logger>
        <root>
          <level value="ALL" />
          <appender-ref ref="AzureServiceBus-Audit-Appender" />
        </root>
      </log4net>

      <appSettings>

        <add key="UserId" value="" />
        <add key="log4net.Internal.Debug" value="true" />
        <add key="BusinessProcessName" value="UNITTEST.BProc"></add>
        <add key="BusinessPartName" value="UNITTEST.BPart"></add>
        <add key="BusinessFragmentName" value="UNITTEST.BFrag"></add>
        <add key="SystemName" value="Azure"></add>
        <add key="FunctionalUnitName" value="FilePoller"></add>
        <add key="FunctionalUnitInstanceId" value="1"></add>
        <add key="BusinessObjectType" value=""></add>
        <add key="BusinessObjectId" value=""></add>
        <add key="SenderInfo" value=""></add>
        <add key="ReceiverInfo" value=""></add>
        <add key="IntegrationIdentity" value=""></add>

      </appSettings>
      <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      </startup>
      <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
            <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
          </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
          </dependentAssembly>
        </assemblyBinding>
      </runtime>


    </configuration>


  